<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRunes Home</title>
</head>
<body>
    <h1>IRunes</h1>
    <nav>
        <ul>
            <li><a href="/home/index">Home</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul>
    </nav>
    <hr>
    <main>
        <h1>Welcome to IRunes</h1>
        <h3><a href="/users/login">Login</a> if you have an account.</h3>
        <h3><a href="/users/register">Register</a> if you don't.</h3>
    </main>
    <hr>
    <footer>
        <p>CopyRight &copy; Sanity Design Studios. All rights reserved.</p>
    </footer>
</body>
</html>