<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRunes Home</title>
</head>
<body>
    <h1>IRunes</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/albums/all">Albums</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <hr>
    <main>
        <h1>Welcome, {{username}}</h1>
        <h3>IRunes wishes you a fun experience.</h3>
    </main>
    <hr>
    <footer>
        <p>CopyRight &copy; Sanity Design Studios. All rights reserved.</p>
    </footer>
</body>
</html>